@font-face {
  font-family: Din-regular;
  src: url(fonts/DIN-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Din-regular;
  src: url(fonts/DIN-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: Din-condensed;
  src: url(fonts/DIN-condensed.ttf);
  font-weight: 400;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #2b2f2f;
  --color-light-gray: #f8f9f9;
  --color-blue: #4f65f7;
  --color-cyan: #6ec3e4;
  --section-padding-x: 10vw;
  --section-padding-y: 90px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DIN-regular, sans-serif;
  color: var(--color-dark-gray);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* General start */

.headline-small {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.headline-big {
  font-family: Din-condensed;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.subtext {
  font-size: 1.1rem;
  line-height: 150%;
}

.button-black {
  cursor: pointer;
  color: var(--color-light-gray);
  background-color: var(--color-dark-gray);
  font-family: Din-condensed;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 12px 22px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 99px;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.button-black:hover {
  color: var(--color-dark-gray);
  background-color: var(--color-white) !important;
}

.button-white {
  cursor: pointer;
  color: var(--color-dark-gray);
  background-color: var(--color-white);
  font-family: Din-condensed;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 12px 22px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 99px;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.button-white:hover {
  color: var(--color-light-gray);
  background-color: var(--color-dark-gray);
}

/* Header start */

.header {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 14px rgba(80, 80, 80, 0.1);
  z-index: 99;
}

.chas-logo {
  width: 80px;
}

.nav-link {
  font-family: Din-regular;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 16px;
  cursor: pointer;
  color: var(--color-dark-gray);
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-ansök {
  font-family: Din-condensed;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 8px 22px;
  border: 1px solid var(--color-blue);
  border-radius: 20px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in;
}

.nav-ansök:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
  text-decoration: none;
}

.fa-chevron-down {
  font-size: 0.9rem;
  margin-left: 10px;
}

.hamburger-btn {
  cursor: pointer;
  position: fixed;
  top: 34px;
  right: 40px;
  border: none;
  background-color: inherit;
  display: none;
}

.hamburger-btn > i {
  font-size: 2rem;
}

.close-btn {
  cursor: pointer;
  position: fixed;
  top: 34px;
  right: 40px;
  border: none;
  background-color: inherit;
  display: none;
}

.close-btn > i {
  font-size: 2rem;
}
/* Hero start  */

.hero {
  background-image: url(img/hero-background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: var(--section-padding-y) var(--section-padding-x);
  padding-top: 150px;
  text-align: center;
  align-items: center;
}

.hero-headline {
  color: var(--color-white);
  font-family: Din-condensed;
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 400;
  max-width: 700px;
}

.hero-subtext {
  color: var(--color-white);
  font-family: Din-condensed;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  max-width: 260px;
  margin-top: 50px;
}

.arrow-down {
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 8px 14px;
  border-radius: 99px;
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
  text-decoration: none;
}

/* get-to-know-us start  */

.get-to-know-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--section-padding-y) var(--section-padding-x);
  background-color: var(--color-light-gray);
}

.get-to-know-us-img {
  width: 40%;
  height: width;
}

.get-to-know-us-text-wrapper {
  width: 50%;
}

.get-to-know-us-text-wrapper > h2 {
  margin: 20px 0;
}

.get-to-know-us-text-wrapper > .subtext {
  max-width: 90%;
}

.get-to-know-us-button-wrapper {
  margin-top: 50px;
}

.get-to-know-us-button-wrapper > .button-black {
  margin-right: 40px;
}

/* our-educations start  */

.our-educations {
  padding: var(--section-padding-y) var(--section-padding-x);
}

.our-educations-text-wrapper {
  width: 50%;
}

.our-educations-text-wrapper > h4 {
  text-transform: unset;
}

.our-educations-text-wrapper > .headline-big {
  margin-top: 20px;
  margin-bottom: 26px;
}

.our-educations-text-wrapper > .subtext {
  margin-bottom: 24px;
}

.our-educations-grid {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 24px;
}

.our-educations-grid-element {
  padding: 6px;
  border-radius: 8px;
  background-color: var(--color-light-gray);
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid var(--color-light-gray);
  transition: all 0.2s ease-in;
}

.our-educations-grid-element:hover {
  border: 1px solid var(--color-dark-gray);
  transform: scale(1.015);
}

.our-educations-grid-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.our-educations-grid-element > .headline-big {
  font-size: 1.8rem;
  margin-left: 8px;
}

.our-educations > .button-black {
  display: inline-block;
  margin-top: 64px;
  background-color: var(--color-black);
}

/* study-with-us start  */

.study-with-us {
  background-color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--section-padding-y) var(--section-padding-x);
}

.study-with-us-text-wrapper {
  width: 40%;
}

.study-with-us-text-wrapper > .headline-small,
.study-with-us-text-wrapper > .headline-big,
.study-with-us-text-wrapper > .subtext {
  color: white;
}

.study-with-us-text-wrapper > .headline-big {
  margin-top: 20px;
  margin-bottom: 26px;
}

.study-with-us-button-wrapper {
  margin-top: 64px;
}

.study-with-us-button-wrapper > .button-black {
  background-color: var(--color-blue);
  border: 1px solid var(--color-white);
  margin-right: 24px;
}

.study-with-us-button-wrapper > .button-black:hover {
  color: var(--color-blue);
}

.study-with-us-button-wrapper > .button-white {
  color: var(--color-blue);
  border: 1px solid var(--color-white);
}

.study-with-us-button-wrapper > .button-white:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.study-with-us-video {
  border-radius: 16px;
  width: 50%;
  height: width;
}

/* students start  */

.students {
  padding: var(--section-padding-y) var(--section-padding-x);
}

.students > .headline-big {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 64px;
}

.students-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 50px;
  row-gap: 100px;
}

.students-img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 34px;
}

.students-grid-element > .subtext {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* footer start  */

.footer {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 420px;
  gap: 64px;
  align-items: center;
  background-color: var(--color-light-gray);
}

.footer-left {
  position: relative;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110%;
  background-image: url(img/footer-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.footer-left-wrapper {
  margin-top: 64px;
  max-width: 280px;
}

.footer-left-wrapper > .headline-big {
  font-size: 2.5rem;
}

.footer-left-wrapper > .button-white {
  padding: 12px 48px;
  display: inline-block;
  margin-top: 48px;
  background-color: var(--color-cyan);
}

.footer-left-wrapper > .button-white:hover {
  background-color: var(--color-dark-gray);
}

.footer-middle {
  display: grid;
  grid-template-columns: 55% 45%;
}

.footer-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 10px 0;
  transition: all 0.2s ease-in;
}

.footer-link:hover {
  opacity: 0.5;
}

.footer-contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-contact-header {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 10px 0;
}

.footer-contact-subtext {
  font-size: 1.1rem;
  text-decoration: none;
}

.contact-mail-wrapper {
  margin: 30px 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-chas-logo {
  width: 200px;
}

.footer-follow-wrapper > p {
  margin-top: 64px;
  margin-bottom: 16px;
  text-align: center;
}

.footer-follow-link {
  margin: 0 8px;
  transition: all 0.2s ease-in;
}

.footer-follow-link:hover {
  opacity: 0.7;
}

/* media scaling  */

@media (max-width: 1280px) {
  .header {
    padding: 0 32px;
  }
  .nav-link {
    font-size: 1rem;
    margin: 0 8px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }

  /* hamburger menu  */
  .header {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    display: none;
    margin: 10px 5px;
  }

  .hamburger-btn {
    display: block;
  }

  .chas-logo {
    margin-top: 5px;
  }
  /* hamburger end  */

  .hero-headline {
    font-size: 4.5rem;
  }
  .get-to-know-us {
    flex-direction: column;
  }
  .get-to-know-us-img,
  .get-to-know-us-text-wrapper {
    width: 100%;
    margin: 10px 0;
  }

  .our-educations-text-wrapper {
    width: 100%;
  }

  .our-educations-grid {
    grid-template-columns: 1fr 1fr;
  }

  .study-with-us {
    flex-direction: column;
  }
  .study-with-us-text-wrapper,
  .study-with-us-video {
    width: 100%;
    margin: 20px 0;
  }

  .students-grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer-left {
    grid-column: 1/3;
  }

  .footer-middle,
  .footer-right {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  h2,
  .hero-headline {
    font-size: 3rem !important;
  }

  .our-educations-grid,
  .students-grid,
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .footer-left {
    grid-column: 1/2;
  }

  .study-with-us-button-wrapper,
  .get-to-know-us-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .get-to-know-us-button-wrapper > .button-black,
  .get-to-know-us-button-wrapper > .button-white,
  .study-with-us-button-wrapper > .button-black,
  .study-with-us-button-wrapper > .button-white {
    margin-right: 0px;
    margin: 10px 0;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 12px;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}
